.static{
    width: 1000px;
    height: 500px;
    margin-bottom: 25px;
}
.box1{
    width: 200px;
    height: 100px;
    text-align: center;
    background: grey;
    border: solid 2px #000000;
    position: static;
    margin-bottom: 15px;
}
.box2{
    width: 200px;
    height: 100px;
    font-size: 15px;
    text-align: center;
    background: grey;
    border: solid 2px #000000;
    position: relative;
    top: 10px; 
    left: 120px;
    margin-bottom: 15px;
}
.box3{
    width: 200px;
    height: 100px;
    background: grey;
    border: solid 2px #000000;
    position: fixed;
    top: 5px; 
    left: 250px;
    margin-bottom: 15px;
}
.box4{
    width: 200px;
    height: 100px;
    font-size: 15px;
    background: grey;
    border: solid 2px #000000;
    position: absolute;
    top: 5px; 
    left: 700px;
    margin-bottom: 15px;
}
.box5{
    width: 200px;
    height: 100px;
    background: grey;
    border: solid 2px #000000;
    position: static;
    margin-bottom: 15px;
}
.box6{
    width: 200px;
    height: 100px;
    background: grey;
    border: solid 2px #000000;
    position: static;
    margin-bottom: 15px;
}
.box7{
    width: 200px;
    height: 100px;
    background: grey;
    border: solid 2px #000000;
    position: static;
    margin-bottom: 15px;
}
.box8{
    width: 200px;
    height: 100px;
    background: grey;
    border: solid 2px #000000;
    position: static;
    margin-bottom: 15px;
}
.box9{
    width: 200px;
    height: 100px;
    background: grey;
    border: solid 2px #000000;
    position: static;
    margin-bottom: 15px;
}
.box10{
    width: 200px;
    height: 100px;
    background: grey;
    border: solid 2px #000000;
    position: static;
    margin-bottom: 15px;
}
.box11{
    width: 200px;
    height: 100px;
    background: grey;
    border: solid 2px #000000;
    position: static;
    margin-bottom: 15px;
}
.japan {
    height: 300px; 
    width: 500px;
    border: solid 2px #000000; 
    background-color: #FFFFFF;
    display: flex; 
}
.japan:after {
        position: absolute;
        top: 1150px; 
        left: 180px;
        display: block; 
        content: "";
        height: 150px; 
        width: 150px;
        background-color: #ED2939;
        border-radius: 50%;
    }
.flag{
    height: 300px; 
    width: 500px;
    display: flex;
    justify-content: center;
}
.xxx{
    content: ''; 
    position: absolute; 
    left: 597px; 
    bottom: 785px; 
    border: 18px solid transparent; border-bottom: 60px solid rgb(150, 117, 117);
}
.xxxx{
    content: ''; 
    position: absolute; 
    left: 600px; 
    bottom: 800px; 
    border: 15px solid transparent; border-bottom: 50px solid rgb(37, 37, 37);
}

.BLOCK{
    width: 35px;
    height: 120px;
    background-color: aqua;
    position: absolute;
    left: 597px; 
    bottom: 665px;
    margin: 0;
    animation: render 3s ease-in-out infinite;
    border: solid 0.5px #000000; 
}

@keyframes gradient{
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }    
    100% {
        background-position: 0 50%;
    }
}
html, body {
    height: 1500px;
}
body{
    margin: 0;
    background: linear-gradient(45deg, #cc2b59, #6ba114, #bb05cc);
    animation: gradient 10s ease infinite;
}
@keyframes render {
    0%{
        background-color: aqua;
    }
    50% {
        background-color: rgb(3, 245, 84);
    }
    100% {
        background-color: red;
    }
}
